/ %table.centertable.hidetable
/   %tr
/     %th Sort by: 
/     %th.tblstyl= sortable "rent", "Rent"
/     %th.tblstyl= sortable "lease_start", "Start Date"
/     %th.tblstyl= sortable "lease_length", "Length of Lease"
/     %th.tblstyl= sortable "lease_type", "Type"
/ %ul.search_list
/   - @listings.each do |f|
/     %li.col-xs-6.col-xs-offset-3.borderbottom
/       $
/       = f.rent
/       = f.address
/       = f.city 
/       = f.state
/       = f.lease_type
/     .col-xs-3
/ %div{:id => "table_pagination"}= will_paginate @listings
.row
  .col-xs-11.col-sm-8.col-md-7.col-xs-offset-1.col-sm-offset-4.col-md-offset-4
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bell.fa-fw
        %div.append_t
        %table.centertable.hidetable
          %tr
            %th Sort by: 
            %th.tblstyl= sortable "rent", "Rent"
            %th.tblstyl= sortable "lease_start", "Start Date"
            %th.tblstyl= sortable "lease_length", "Length of Lease"
            %th.tblstyl= sortable "lease_type", "Type"
      / /.panel-heading
      
      .panel-body
        .list-group
          %div.search_list
          .hidetable
            - @listings.each do |f|
              %a.list-group-item{:href => listing_path(f)}
                %i.fa.fa-comment.fa-fw
                  .photo_display
                    = image_tag f.photo.url, :class => "size_image_table"
                  %div.item_display
                    $
                    = f.rent
                    %br
                    Starts:
                    %br
                    = f.lease_start
                    %br
                    Months:
                    %br
                    =f.lease_length
                  %div.address_display
                    = f.address
                    %br
                    = f.city
                    , 
                    = f.state
                  %div.type_display
                    = f.lease_type
              %span.pull-right.text-muted.small
                %em 4 minutes ago
          
        %div.center_pagination{:id => "table_pagination"}= will_paginate @listings
        
  .col-xs-3